@import 'vars/index.css';

.root {
  width: 500rem;
  height: 104rem;
  margin-bottom: 50rem;

}

.font {
  font-size: 32rem;
  font-weight: 600;
  line-height: 52.0rem;
  text-align: center;
  color: #ffffff;
}

.first {
  composes: font;
  display: block;
}

.first > span {
  display: inline;
  font-size: 32rem;
  font-weight: 600;
  line-height: 52.0rem;
  text-align: center;
  color: var(--color-green);
}

.second {
  composes: font;
  display: block;
}


