# don't ever lint node_modules
node_modules

# /node_modules/* in the project root is ignored by default
# build artefacts
dist/*
.build
build
coverage/*

# data definition files
**/*.d.ts

# 3rd party libs
/src/public

# custom definition files
/src/types

web_modules

snowpack.config.js
svelte.config.js
postcss.config.js
tailwind.config.js

jest.config.js
jest.setup.js