@import "vars/index.css";

.root {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-size: 18rem;
}

.root > div {
  width: 50%;
  height: 100%;
}

.root {
  background-color: var(--color-about-bg);
}
