:root {
  --color-about-bg: white;
  --color-green: #26dd70;
  --color-blue: #1a49b9;
  --color-blue-hover: #1453cc;
  --color-text-section-h1: #9fa3a7;
  --color-text-section-p: #303e56;
  --color-yellow: #ffde1c;
  --color-yellow-hover: #ffea69;
  --color-yellow-text: #776917;
}
