@import "vars/index.css";

.root {
  width: 330rem;
  display: flex;
  justify-content: space-between;
  margin-top: 140rem;
}

.root > svg {
  width: 30rem;
  height: 30rem;
  fill: #ffffff;
  stroke: #ffffff;
}

.root > svg:hover {
  fill: #BCC3F8;
  stroke: #BCC3F8;
  cursor: pointer;
}

@media (width >= 1024px) and (width < 1440px) {
  .root {
    width: 304rem;
    display: flex;
    justify-content: space-between;
    margin-top: 88rem;
  }
}
