@import "vars/index.css";

.root {
  width: 330rem;
  display: flex;
  justify-content: space-between;
  margin-top: 140rem;
  margin-left: calc(50% - 330rem / 2);
}

.root img {
  width: 30rem;
  height: 30rem;
  cursor: pointer;
}

@media (width < 1024px) {
  .root {
    width: 300rem;
    margin-top: 80rem;
    margin-left: calc(50% - 300rem / 2);
  }
}

@media (width >= 1024px) and (width < 1440px) {
  .root {
    width: 300rem;
    margin-top: 90rem;
    margin-left: calc(50% - 300rem / 2);
  }
}
